


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters{
  margin-right: 30px;
  font-size: 10px;
  text-align: center;

  strong {
    display: block;
    font-size: 2em;
  }

  .vote , .answer {
    width: 60px;
    height: 60px;
  }

  .status {
    &.unanswered{
      border : none;
    }

    &.answered {
      border : 1px solid $color-green;
      color: $color-green;
    }

    &.answered-accepted {
      background: $color-green;
      color: $color-white;
    }
  }
  .view {
    margin-top: 10px;

  }
}

form.form-delete {
  display: inline;
}

.vote-controls {
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700;

  span, a {
    display: block;
  }

  span {
    &.votes-count {
      font-size:25px;
    }
    &.favorites-count {
      font-size:12px;
    }
  }

  a {
    cursor: pointer;
    color: $gray-600;

    &.off, &.off:hover {
      color: $gray-500;
    }

    &.favorite {
      &.favorited, &.favorited:hover {
        color: $warning;
      }
    }

    &.vote-accepted {
      color: $green;
    }

  }
}

.post {

  padding: 20px 0;
  &:not(:last-child){
    border-bottom: 1px solid rgba($black,.1);
  }


}
[v-cloak]{
  display: none;
}
img.profile-image
{
  width: 200px;
  height: 200px;
}
.ru-4 {
  display:flex;
}
.container .profile{
  display: flex;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;

}
#app{
  flex: 1 0 auto;

}

footer {
  flex: 0 0 auto;

  padding: 1rem;
  background: #e6ffe6;
}
.ck-editor__editable {
  min-height: 250px;
}
.btn-outline-secondary.custom-update{
  float: right;
}
#example1_wrapper {
  display: block;

}
#example1_wrapper :first-child {
  margin-bottom: 2px;
}
.profile-last-q {
 justify-content: space-between;
}
.question-create div div {
  border : 1px solid lightblue;
}


pre {
  background-color: lightgray;

  &::before {
    content: attr(data-language);
    text-transform: uppercase;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 0.6rem;
  }

  code {

    .hljs-comment,
    .hljs-quote {
      color: #999999;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f2777a;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #f99157;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #99cc99;
    }

    .hljs-title,
    .hljs-section {
      color: #ffcc66;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #6699cc;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

.media-body p img{
  width : 250px;
}
.question-create p img{
  width : 250px;
}


/*
.navbar{
 background-image: url("../img/mainten.png") ;
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;
}
nav .container {
  height: 90px;
}
*/




/*.img-banner img {
  width: 100%;
  height: auto;
}*/
#app{
  background:linear-gradient(to bottom , rgba(136, 212, 255, 0.33),white);
}
.container-profile {
  border: 1px solid lightblue;
}

.answer-green {
  color: green;
  background-color: white;

}